svg{
    display: block;
}
body{
    background: rgb(230, 230, 230);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 101%;
}

.fondo-negro{

    background: black;
    color: white;

}

.fondo-blanco{

    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

.fondo-verde{
    background: #98C782;
    color: black;
}

.fondo-amarillo{
    background: yellow;
    color: black;
}

.fondo-verde2{
    background: green;
    color: rgb(0, 0, 0);
}

.logo-orion{

    width: 100px;
    margin-left: -28px;
}

.buscar-nav{

    margin-left:125px;
    position: absolute;
    
}
@media(min-width:368px){

    .buscar-nav{

        margin-left:150px;
       
    }
    
}
@media(min-width:400px){

    .buscar-nav{

        margin-left:180px;
       
    }
    
}
@media(min-width:500px){

    .buscar-nav{

        margin-left:200px;
       
    }
    
}
@media(min-width:545px){

    .buscar-nav{

        margin-left:230px;
       
    }
    
}

@media(min-width:600px){

    .buscar-nav{

        position: relative;
        margin-left:0px;
    
    }
    
}

    



@media(min-width:1000px){

    .nav-link{

        margin-left: 50px;
    }

    .logo-orion{

        width: 150px;
    }

    .buscar-nav{

        margin-left:0px;
        position: relative;
    }
    
}

/*fin configuracion inicial*/


/*estilos del cuerpo */

.menu-apps{

    background: rgba(255, 255, 255, 0.678);
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-decoration: none;
    font-size: 30px;
    color: black;

}

.iconos-menu-escogido{

    color: black;
    background: #98C782;
    padding: 7px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.iconos-menu{

    color: black;
    background: rgba(71, 143, 71, 0);
    padding: 2px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.icono-user{

    font-size: 20px;
    color: white;
}
.navbar-toggler{
    border: 4px solid white;
}

.cont-icon-user{

    border: 3px solid rgb(71, 148, 81);
    background: black;
    border-radius: 5px ;
    width: 40px;
    height: 38px;
}

/*menu user*/


.sabana{

    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.507);
    position: absolute;
    z-index: 99999999;
}

.contenedor-menu{


    width: 80%;
    height: 100vh;
    background: black;
    overflow-y: scroll;
}
@media(min-width:1000px){

    .cont-icon-user{


        width: 60px;
        height: 58px;
    }

.icono-user{

    font-size: 33px;
    
}

}